<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>DF_LLM_SENSITIV</key>
		<string>true</string>
		<key>DF_LLM_SENSITIV_MODE</key>
		<string>local</string>
	</dict>
	<key>Label</key>
	<string>com.kemmer.df-cape-coral-property-tracker</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>/Users/make/Projects/dark-factories/df-cape-coral-property-tracker/scripts/run-df-cape-coral-property-tracker-mac.sh</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>StandardErrorPath</key>
	<string>/Users/make/.df-state/cape-coral-property-tracker/stderr.log</string>
	<key>StandardOutPath</key>
	<string>/Users/make/.df-state/cape-coral-property-tracker/stdout.log</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>4</integer>
		<key>Minute</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
